template(name='cal')
    // .ui.header calendar
    #cal

template(name='events')
    .ui.stackable.padded.grid 
        .row
            .sixteen.wide.column
                .ui.inline.header
                    // i.calendar.large.icon
                    +i name='calendar'
                    |events
                if currentUser
                    i.plus.large.green.circular.link.icon.zoomer.add_event(title='add event')
                        // +i name='plus'
                .ui.compact.button.toggle_past
                    if viewing_past
                        i.undo.green.large.icon
                    else
                        i.circle.outline.large.icon
                    |past
                // .ui.compact.button.toggle_now(class=today_button_class)
                //     if viewing_today
                //         +i name='calendar'
                //     else
                //         +ios name='calendar'
                //     |now
                // .ui.compact.button.view_today(class=today_button_class)
                //     if viewing_today
                //         +i name='calendar'
                //     else
                //         +ios name='calendar'
                //     |today
                // .ui.compact.button.toggle_past(class=today_button_class)
                //     if viewing_today
                //         +i name='calendar'
                //     else
                //         +ios name='calendar'
                //     |this week
                // .ui.compact.button.toggle_repeating(class=toggle_repeating_class)
                //     i.refresh.icon
                //     |repeating
                // div
                +ismall name='tag'
                each picked_event_tags 
                    .ui.blue.button.unpick_tag
                        |#{this}
                each event_tags 
                    .ui.compact.basic.circular.button.pick_tag #{title}
            .sixteen.wide.column
                .ui.icon.input
                    if current_search
                        i.remove.large.red.link.icon.clear_search.zoomer(title='clear search')
                    else
                        i.search.icon
                    input.event_search(type='text' placeholder='search...' value=current_search)
                unless one_event_result
                    +session_set key='view_mode' value='grid' icon='cards'
                    +session_set key='view_mode' value='list' icon='list'
                    +session_set key='view_attending' value='going' label='going' icon='checkmark'
                    +session_set key='view_attending' value='maybe' label='maybe' icon='question'
                    +session_set key='view_attending' value='not' label='not going' icon='cancel'
                    .ui.inline.header sort
                    +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
                    +session_set key='sort_key' value='start_datetime' label='start time/date' icon='calendar'
                    +session_set key='sort_key' value='price' label='price' icon='money'
                .spacer
                if subs_ready
                    if session_is 'view_mode' 'grid'
                        if one_event_result
                            .ui.stackable.one.cards.scrolling
                                each event_docs
                                    +event_card
                        else if two_event_results
                            .ui.stackable.two.cards.scrolling
                                each event_docs
                                    +event_card
                        else
                            .ui.stackable.centered.cards.scrolling
                                each event_docs
                                    +event_card
                    if session_is 'view_mode' 'list'
                        .ui.selection.divided.animated.list.scrolling
                            each event_docs 
                                +event_item
                else 
                    .ui.center.aligned.basic.segment
                        i.massive.loading.calendar.grey.icon
                // +cal

template(name='session_icon_button')
    .ui.icon.circular.button.set_session_value(class=session_icon_button_class)
        +i name=icon

template(name='event_card')
    .ui.zoomer.card
        .content
            a.ui.inline.header.fly_right(href="/event/#{_id}") #{title} 
            div
            if is_in_past
                +ismall name='clock'
                i.big.undo.icon 
                |in past
            if start_datetime
                .ui.small.inline.grey.header 
                    |{{medium_date start_datetime}} 
                    if time 
                        |{{time}}
                .ui.small.inline.header {{from_now start_datetime}}
            else if is_repeating
                +i name='refresh' title='repeating'
                |every #{repeating_day}
            // .ui.inline.small.header {{long_date start_datetime}}
            // div
            // .ui.small.grey.inline.header {{from_now start_datetime}}
        if image_id
            a.image.zoom.pointer.mobile.hidden.fly_right(href="/event/#{_id}")
                img.ui.image(src="{{c.url image_id height=800 width=800 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            a.image.zoom.pointer.mobile.only.fly_right(href="/event/#{_id}")
                img.ui.image(src="{{c.url image_id height=600 width=600 gravity='center' crop='fill'}}" class=currentUser.invert_class)
        .content
            if tags 
                i.tag.icon
                each seven_tags 
                    .ui.link.basic.circular.label.zoomer.pick_flat_tag
                        |#{this}
            if location
                i.marker.icon 
                |#{location}
            div 
            small led by
            img.ui.avatar.image(src="{{c.url host.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            strong #{host.name}
            if views 
                span(title='views')
                    |#{views} 
                    i.eye.grey.icon
        .content
            |#{event_tickets.count}
            a(href="/event/#{_id}" title='ticket purchase required')
                i.checkmark.green.link.icon
            | #{going_user_ids.count}
            each going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            i.question.orange.link.icon.mark_maybe(title='mark yourself maybe')
            div
            | #{maybe_user_ids.length}
            each maybe_going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            | #{not_user_ids.length}
            div
            i.ban.red.link.icon.mark_not(title='mark yourself not')
            each not_going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            if doc_comments.count
                .meta
                    each doc_comments 
                        i.grey.chat.outline.icon
                        img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        |#{body}
            if in_dev
                +print_this
            +voting
            +favorite_icon_toggle

template(name='event_item')
    .ui.item
        .content
            if image_id
                a.fly_right(href="/event/#{_id}")
                    img.ui.small.inline.image.rounded(src="{{c.url image_id gravity='center' crop='fill'}}" class=currentUser.invert_class)
            a.ui.inline.header.fly_right(href="/event/#{_id}") #{title} 
            .ui.small.inline.header {{medium_date date}} 
                if time 
                    |{{time}}
            if start_datetime
                .ui.small.inline.grey.header 
                    |{{medium_date start_datetime}} 
                    if time 
                        |{{time}}
                .ui.small.inline.header {{from_now start_datetime}}
            if is_repeating
                +i name='refresh' title='repeating'
                |every #{repeating_day}
                    
            // .ui.inline.small.header {{long_date start_datetime}}
            // div
            // .ui.small.grey.inline.header {{from_now start_datetime}}
            if location
                i.marker.icon 
                |#{location}
            // small led by
            img.ui.avatar.image(src="{{c.url host.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            strong #{host.name}
            |#{event_tickets.count}
            a(href="/event/#{_id}" title='ticket purchase required')
                i.checkmark.green.link.icon
            | #{maybe_user_ids.count}
            each going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            i.question.orange.link.icon.mark_maybe(title='mark yourself maybe')
            | #{maybe_user_ids.length}
            each maybe_going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            | #{not_user_ids.length}
            i.ban.red.link.icon.mark_not(title='mark yourself not')
            each not_going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            if doc_comments.count
                .meta
                    each doc_comments 
                        i.grey.chat.outline.icon
                        img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        |#{body}
            if in_dev
                +print_this
            +voting
            +favorite_icon_toggle

template(name='gcal_button')
    a.ui.circular.circular.large.button(href="http://www.google.com/calendar/event?action=TEMPLATE&text=#{title}&dates=#{start_datetime}/#{end_datetime}&details=#{description}&location=#{location}" target="_window")
        // i.calendar.icon
        +i name='external'
        |+ gcal
        
template(name='reserve_button')
    if slot_res
        .ui.segment
            with slot_res
                .ui.header 
                    |reserved by #{_author.name}
                if can_edit
                    .ui.circular.icon.button.cancel_res
                        i.red.remove.icon
    else 
        // if event_room.dollars_per_hour
        //     .ui.green.button.buy_slot buy slot #{slot}
        //     .ui.green.button.request_slot request for points
        // else
        .ui.green.button.reserve_slot reserve slot #{slot}
        
template(name='rsvp')
    div
    if is_in_past 
        .ui.header is in past
        
    if has_tickets
        .ui.header 
            i.green.ticket.icon
            |tickets
        if external_ticket_management
            .ui.header 
                |tickets handled externally, visit 
            a.ui.button(href=link target="_window")
                |#{link}
    .ui.inline.large.header 
        |RSVP
    if tickets_left
        .ui.grey.small.inline.header #{tickets_left} available
        .spacer
        .ui.grey.small.inline.header  min requested 
        // .spacer
        // .ui.grey.small.inline.header (give more if you want to)
        div
    if my_ticket
        .ui.header your ticket
        with my_ticket
            .ui.segment
                // if is_usd
                //     .ui.inline.green.header ${{money_format amount}}
                // else
                .ui.inline.header #{point_amount}pts
                |#{when} 
                if is_usd
                    .ui.button.request_refund
                        i.undo.icon
                        |request refund
                else
                    .ui.button.return
                        i.undo.icon
                        |return
    unless my_ticket
        if price_points
            .ui.green.button.buy_ticket
                |buy ticket #{price_points}p
    if event_ticket_docs.count
        .ui.dividing.header
            // +icolor name='activity-history' cl='ui inline image'
            |#{event_ticket_docs.count} spots reserved
    .ui.comments
        each event_ticket_docs
            .comment
                a.avatar(href="/user/#{_author.username}") 
                    img(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                a.content(href="/ticket/#{_id}")
                    a.author(href="/user/#{_author.username}") 
                        |#{_author.name}
                    .metadata
                        span.date #{when}
                    .text
                        if is_usd
                            .ui.inline.green.header ${{money_format amount}}
                        else
                            .ui.inline.header #{point_amount}pts
                    // span.meta
                    //     if can_edit
                    //         +remove_icon
                    //     else
                    //         +voting_small
        
    +attendance
    // .ui.modal
    //     i.close.icon
    //     .header buy ticket for #{current_doc.point_price}pts?
    //     .content
    //         .description
    //             .ui.header event title: #{current_doc.title}
    //             .ui.input
    //                 input(type='number' min=current_doc.point_price)
    //     .actions
    //         .ui.red.cancel.button cancel
    //         .ui.green.big.ok.button ok


template(name='attendance')
    if is_in_past
        if event_tickets.length
            .ui.inline.green.header 
                |#{ticket.length} tickets bought
        .ui.disabled.button 
            .ui.green.header
                i.green.checkmark.big.icon
                |#{going.count}
                |went
    else
        if event_tickets.length
            .ui.inline.green.header 
                |#{ticket.length} going
        .ui.button.mark_going 
            .ui.green.header
                i.green.checkmark.big.icon
                |#{going.count}
                |going
    each going 
        a.ui.circular.circular.button(href="/user/#{username}")    
            img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{username}
    div
    if is_in_past
        .ui.circular.disabled.button
            .ui.orange.header
                // if currentUser
                //     +icolor name='clock' cl='mark_maybe pointer'
                // else
                i.question.icon
                |#{maybe_going.count} said maybe
        // .ui.icon.button.mark_maybe 
        //     i.yellow.minus.big.icon
    else
        .ui.circular.button.mark_maybe
            .ui.orange.header
                // if currentUser
                //     +icolor name='clock' cl='mark_maybe pointer'
                // else
                i.question.icon
                |#{maybe_going.count} maybe
        // .ui.icon.button.mark_maybe 
        //     i.yellow.minus.big.icon
    each maybe_going
        a.ui.circular.button.fly_right(href="/user/#{username}")    
            img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{username}
    div
    if is_in_past
        .ui.circular.disabled.button
            .ui.red.header
                i.ban.icon
                |#{not_going.count} didn't go
            // .ui.icon.button.pick_not
                // i.big.ban.icon
    else
        .ui.circular.button.mark_not
            .ui.red.header
                i.ban.icon
                |#{not_going.count} not going
            // .ui.icon.button.pick_not
                // i.big.ban.icon
    each not_going
        a.ui.circular.circular.button(href="/user/#{username}")    
            img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{username}


template(name='ticket_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    if can_edit
                        .ui.button.cancel_reservation
                            i.large.remove.icon
                            |cancel reservation
                .eight.wide.column
                    .ui.header
                        // i.ticket.icon
                        +i name='ticket'
                        |#{ticket_point_price}
                        | points ticket
                    .ui.small.header
                        i.clock.icon
                        | #{_when}
                    .ui.segment
                        .ui.inline.header 
                            i.user.outline.icon
                            |buyer
                        a.ui.inline.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{_author.username}
                    .ui.segment
                        a.ui.inline.header(href="/event/#{event_id}/view")
                            i.calendar.icon
                            |event
                        a(href="/event/#{event_id}/view")
                            img.ui.medium.image(src="{{c.url ticket_event.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        a.ui.header(href="/event/#{ticket_event._id}/view")
                            |#{ticket_event.title}
                            
                    +number_view key='amount' label='amount'  
                    +textarea_view key='body' label='description'  
                    +image_view key='image_id' label='image'  
                    div 
                    if tags
                        i.tags.icon
                        each tags 
                            .ui.big.label #{this}
                    .spacer
                    .spacer
                    +comments
                    // +voting_full
                    //- +array_view key='location_tags' label='location_tags'  
                .four.wide.column
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='event_view')
    with current_doc
        if image_id
            img.ui.fluid.image.checkin_banner(src="{{c.url image_id width=1000 height=1000 crop='crop'}}")    
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .sixteen.wide.column
                    a.ui.circular.compact.basic.button.fly_left(href="/events")
                        i.chevron.left.large.icon
                        +i name='calendar'
                        // i.big.calendar.icon
                    .ui.inline.header #{title}
                    if is_repeating
                        .ui.inline.grey.header
                            +i name='refresh'
                            |repeating on #{repeating_day} at 
                            |#{start_time}
                    // div
                    if can_edit
                        if published 
                            i.big.eye.green.icon(title='published')
                        else 
                            i.big.eye.red.slash.icon(title='unpublished')
                    // div
                    // .ui.inline.header {{medium_date date}}
                    if start_datetime
                        .ui.inline.header {{long_date start_datetime}}
                        |&nbsp;
                        .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if time 
                        .ui.inline.grey.header {{time}}
                    if can_edit
                        a.edit_event.fly_left(href="/event/#{_id}/edit" title='edit')
                            i.large.link.pencil.circular.icon
                    // if link 
                    //     a.ui.small.compact.button(href=link target="_window")
                    //         i.globe.icon 
                    //         |#{link}
            .row
                .eight.wide.column.scrollin
                    a(href="{{c.url image_id }}" target='_window')
                        img.ui.fluid.rounded.image.mobile_hidden(src="{{c.url image_id }}" class=currentUser.invert_class)
                        img.ui.small.inline.rounded.image.mobile.only(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    // .scrolling
                    |!{body}
                    // div 
                    // .spacer
                    // .spacer
                .four.wide.column.scrollin
                    +group_widget
                    if link 
                        a.ui.big.basic.fluid.compact.button(href=link target='_window' title=link)
                            i.external.icon
                            // |#{link}
                            |link
                            
                    if location
                        // +location_map
                        .ui.header(title='location')
                            +i name='marker'
                            |#{location}
                    .spacer
                    // a(href="/m/room/#{event_room._id}/view")
                    //     img.ui.small.circular.inline.image.pointer.zoom(src="{{c.url event_room.image_id }}" class=currentUser.invert_class)
                    //     .ui.inline.header.pointer.zoom
                    //         |#{event_room.title}
                    // if is_admin
                    .ui.dividing.header 
                        // i.pencil.icon
                        +i name='poem'
                        | author
                    a.ui.header.zoomer(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{_author.name}
                    if host
                        .ui.dividing.header 
                            i.chess.king.grey.icon
                            |host
                        a.ui.header.zoomer(href="/user/#{host.username}") 
                            img.ui.avatar.image(src="{{c.url host.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{host.name}
                    if support
                        .ui.dividing.header 
                            i.chess.queen.grey.icon
                            |support
                        a.ui.header(href="/user/#{support.username}") 
                            img.ui.avatar.image(src="{{c.url support.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{support.name}
                    +comments
                .four.wide.column.scrolling
                    +rsvp
                    if max_attendees
                        .ui.header
                            |#{max_attendees} max attendees
                    // .ui.small.grey.header 
                    //     i.line.chart.icon
                    //     |stats
                    .ui.small.header #{views} views
                    each viewers
                        .ui.label #{username}
                    with current_doc
                        +gcal_button
                    .ui.hidden.divider
                    +array_view key='tags' label='tags' icon='tags'  
                    div
                    if currentUser
                        +voting_full
                    +array_view key='location_tags' label='location tags' icon='marker'  
            if watson 
                .row 
                    .sixteen.wide.column
                        +watson_view

template(name='location_map')
    iframe(width='100%' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src="https://maps.google.com/maps?&amp;q=#{location}&amp;output=embed")

template(name='group_widget')
    if current_doc.group_ids.length
        .ui.header 
            +i name='campfire'
            |associated groups
        each related_groups
            a.ui.card.fly_right(href="/group/#{_id}")
                img.ui.image(src="{{c.url image_id width=500 height=500}}")
                .content
                    .ui.header 
                        |#{title}

template(name='event_edit')
    with current_doc
        .ui.stackable.padded.grid
            .two.column.row 
                .column
                    a.ui.green.big.compact.button.fly_up(href="/event/#{_id}" title='save')
                        i.checkmark.icon
                        |save
                    .ui.inline.header 
                        // i.large.calendar.icon
                        +icolor name='tear-off-calendar'
                        |editing event
                    +boolean_edit key='published' label='published' 
                    +delete_button
                    +text_edit key='title' label='title'  
                    +image_edit key='image_id' label='image'  
                    .ui.header 
                        small author
                        |#{_author.name}
                    // +slug_edit key='slug' label='slug' icon='slug'  
                    // if reservation_exists
                    //     .ui.header date: #{date}
                    //     .ui.header time: #{time}
                    // else
                    +text_edit key='location' label='location' icon='marker'  
                    // +time_edit key='time' label='time'  
                    +number_edit key='hour_duration' label='hours'  
                    // +range_edit label='time range'  
                    // +single_user_edit key='facilitator_id' label='facilitator' icon='chess king'  
                .column
                    unless is_repeating 
                        +datetime_edit key='start_datetime' label='start datetime'  
                        +datetime_edit key='end_datetime' label='end datetime'  
                    .ui.segment
                        +boolean_edit key='is_repeating' label='repeating' icon='refresh'  
                        if is_repeating
                            div
                            .ui.inline.header repeating day
                            +key_value_edit key='repeating_day' value='monday'
                            +key_value_edit key='repeating_day' value='tuesday'
                            +key_value_edit key='repeating_day' value='wednesday'
                            +key_value_edit key='repeating_day' value='thursday'
                            +key_value_edit key='repeating_day' value='friday'
                            +key_value_edit key='repeating_day' value='saturday'
                            +key_value_edit key='repeating_day' value='sunday'
                            div
                            +time_edit key='start_time' label='start time'  
                            +time_edit key='end_time' label='end time'  
                    // +boolean_edit key='has_host' label='has host' icon='king'  
                    // if has_host
                    +single_user_edit key='host_id' label='host' icon='king'  
                    // +boolean_edit key='has_support' label='has support' icon='king'  
                    // if has_support
                    +single_user_edit key='support_id' label='support' icon='helping'  
                    +multi_user_edit key='going_user_ids' label='going users' icon='event-accepted'  
                    +multi_user_edit key='maybe_user_ids' label='maybe going' icon='event-accepted-tentatively'  
                    +multi_user_edit key='not_user_ids' label='not going' icon='event-declined'  
                    div 
                .column
                    +array_edit key='tags' label='tags' icon='tags'  
                    .ui.segment
                        +boolean_edit key='has_tickets' label='has tickets' icon='ticket'  
                        if has_tickets
                            +boolean_edit key='external_ticket_management' label='externally handled'  
                            if external_ticket_management
                                +link_edit key='link' label='link'
                                // +link_edit key='link' label='link'
                            else
                                +boolean_edit key='free' label='free'  
                                unless free
                                    +number_edit key='price_points' label='point price' min='0' max='100'  
                                +number_edit key='price_usd' label='dollar price' min='0' max='100'  
                .column
                    .ui.segment
                        +boolean_edit key='manage_attendance' label='manage attendance' icon='settings'  
                        if manage_attendance
                            .ui.header
                                i.users.icon
                                |audience
                            +number_edit key='max_attendees' label='max attendees' min='0' max='100'  
                            +boolean_edit key='friends_only' label='friends only' icon='campfire'  
                            // div
                    +html_edit key='body' label='description'  
                    +link_edit key='link' label='link'
                    +group_picker
                    